@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-dark text-white font-sans overflow-x-hidden;
  }
}

/* Custom Scrollbar */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Luxury transitions */
.ease-luxury {
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

/* Shimmer Effect */
@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}
.animate-shimmer-slide {
    animation: shimmer 1.5s infinite;
}
